@font-face {
  font-family: "Megazoid";
  src: url("/App_2/megazoid-font/MegazoidLayersRight-Regular.ttf") format("truetype");
}

svg text {
  font-family: "Megazoid";
  font-size: clamp(40px, 6vw, 90px);

}
